<div class="matrix">
  <div class="row" *ngFor="let row of cells; let r = index; trackBy: trackByIndex">
    <div class="cell" *ngFor="let cell of row; let c = index; trackBy: trackByIndex">
      <div class="missing" *ngIf="missing && missing.row === r && missing.col === c">?</div>
      <svg *ngIf="!(missing && missing.row === r && missing.col === c)" [attr.width]="80" [attr.height]="80" viewBox="0 0 80 80">
        <g [innerHTML]="cellToSvg(cell, 80)"></g>
      </svg>
    </div>
  </div>
</div>

<div class="options">
  <button class="option" *ngFor="let o of options; let i = index; trackBy: trackByIndex"
          [class.selected]="selectedIndex === i" (click)="selectOption(i)">
    <svg [attr.width]="80" [attr.height]="80" viewBox="0 0 80 80">
      <g [innerHTML]="cellToSvg(o, 80)"></g>
    </svg>
  </button>
  
</div>


