<app-card>
    <div body class="py-3 px-md-3">
        <h1>Welcome to RFT Trainer!</h1>
        <p>RFT Trainer takes classic logic challenges and turns them into a brain workout. This cognitive training platform introduces features designed to enhance your reasoning and problem-solving abilities.</p>
        <p>RFT Trainer is based on <a href="https://en.wikipedia.org/wiki/Relational_frame_theory" target="_blank">Relational Frame Theory (RFT)</a>, a psychological theory that suggests that the fundamental process of human thought involves forming relationships between concepts. Studies indicate that training in relational skills can significantly enhance cognitive functions.</p>
        <p>Therefore, by using RFT Trainer, you're boosting your problem-solving skills in a structured, evidence-based way.</p>

        <p>This project is maintained by <a href="https://github.com/igweo" target="_blank">igweo</a>.</p>
    </div>
    
    <div footer class="playcard-toolbar">
        <div>
            <div class="form-check">
                <input #dontShowAnymore class="form-check-input" type="checkbox" value="" id="dontShowAnymore">
                <label class="form-check-label" for="dontShowAnymore">
                    Don't show anymore
                </label>
            </div>
        </div>
        <div>
            <button
                class="btn btn-outline-primary"
                (click)="sylSrv.skipIntro(dontShowAnymore.checked)"
            >Skip Intro</button>
        </div>
    </div>
</app-card>
